html, body { font-family: 'Dosis', sans-serif;  margin: 0; padding: 0; font-size: 100%; }


/*
font-family: 'Dosis', sans-serif;
font-family: 'BenchNine', sans-serif;
font-family: 'Quicksand', sans-serif;
*/

#app { background: url(../img/bg3.jpg) no-repeat center center; background-size: cover; }

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}
.hidden { display: none; }

#app { width: 100%; height: 100%; overflow: hidden; position: relative }
.panel { width: 90%; height: 80%; position: absolute; display: none; background: #fafafa; left: 5%; top: 10%; bpx }

h1 { color: #4d6171; text-align: center; font-size: 2em; }
h1 span { color: #8a9db7; font-size: 0.8em; }

.panel-contents { width: 100%; height: 100%; position: relative; }

#main-panel .top-left { font-size: 16px; width: 100%; height: 30px; background: #6babee; border-top: 1px solid #7bbbfe; padding: 10px 0 0; border-bottom: 1px solid #999; text-align: center; color: #ebebeb; text-shadow: 0 1px 0 #333; }
#main-panel .top-left .city-date { margin: 0; font-size: 1em; }
#main-panel .top-left .now { padding: 0 5px 0 0; text-transform: uppercase; font-weight: bold; }
#main-panel .temp-wrap { position: relative; height: 136px;  }
#main-panel .temp_c { width: 100%; position: absolute; left: 0; text-align: center;  padding: 20px 0 10px; top: 0;  }
#main-panel .temp_c .value { position: relative; font-size: 86px; line-height: 86px;  text-align: center; font-weight: 100; color: #353535; }
#main-panel .temp_c .value:after { content: "o"; position: absolute; top: -20px; right: -15px; font-size: 24px; font-weight: bold; }
#main-panel .temp_c .label { margin: 0; }

#main-panel .feelslike_c { width: 100%; position: absolute; left: 0; text-align: center;  padding: 20px 0 10px; top: 0; display: none;  }
#main-panel .feelslike_c .value { position: relative; font-size: 86px; line-height: 86px;  text-align: center; font-weight: 100; color: #353535; }
#main-panel .feelslike_c .value:after { content: "o"; position: absolute; top: -20px; right: -15px; font-size: 24px; font-weight: bold; }
#main-panel .feelslike_c .label { margin: 0; }
#main-panel .sky { width: 100%;  left: 0;  margin: 20px 0 0; }
#main-panel .sky .image { width: 220px; height: 150px; margin: 0  auto; }
#main-panel .sky p { margin: 0; text-align: center; padding: 0 5px 5px; }
#main-panel .more-info { margin: 30px 0 0; }
#main-panel .more-info p { text-align: right; margin: 0 20px 10px 0; font-size: 0.9em; max-width: 60%; line-height: 1.3em; float: right; clear: both; }


#days-panel { }
#days-panel .panel-contents { padding-top: 50px; }
#days-panel .day { width: 95%; border-top: 1px solid #ffffff; border-bottom: 1px solid #f1f1f1; }
#days-panel .date { float: left; padding: 15px 30px 0 10px; }
#days-panel .sky { float: left; width: 150px; height: 80px; margin: 10px 5px 0 15px; }
#days-panel .temp { position: relative; float: left; font-size: 32px; padding: 20px 10px 0 20px;  }
#days-panel .temp span { position: absolute; top: 30%; right: -2%; font-size: 12px; font-weight: bold; }
#days-panel .more-info { clear: both; }
#days-panel .more-info p { float: left; width: 40%; padding: 10px; margin: 0; }

#settings-panel { text-align: center; font-size: 12px; }

.sky .sky-image { width: 100%; height: 128px; }
.sky .sky-8 { background: url(../images/tick/sunny.png) no-repeat center center; }
.sky .sky-23 { background: url(../images/tick/cloudy1.png) no-repeat center center; }
.sky .sky-14 { background: url(../images/tick/cloudy4.png) no-repeat center center;  }
