html, body { font-family: 'Dosis', sans-serif;  margin: 0; padding: 0; font-size: 100%; }


/*
font-family: 'Dosis', sans-serif;
font-family: 'BenchNine', sans-serif;
font-family: 'Quicksand', sans-serif;
*/

#app { background: url(../img/bg3.jpg) no-repeat center center; background-size: cover; }

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}
.hidden { display: none; }

#app { width: 100%; height: 100%; overflow: hidden; position: relative; overflow: hidden; }
.panel-wrap { position: relative; width: 100%; height: 100%; }
.panel { width: 90%; height: 90%; position: absolute; background: #fafafa; left: 5%; top: 2%; overflow: hidden; }

h1 { color: #4d6171; text-align: center; font-size: 2em; }
h1 span { color: #8a9db7; font-size: 0.8em; }

.panel-contents { width: 100%; height: 100%; position: relative; }
.top-left, .top-panel { font-size: 16px; width: 100%; height: 30px; background: #6babee; border-top: 1px solid #7bbbfe; padding: 10px 0 0; border-bottom: 1px solid #999; text-align: center; color: #ebebeb; text-shadow: 0 1px 0 #333; }

#main-panel .top-left .city-date { margin: 0; font-size: 1em; }
#main-panel .top-left .now { padding: 0 5px 0 0; text-transform: uppercase; font-weight: bold; }
#main-panel .temp-wrap { position: relative; height: 100px;  }
#main-panel .temp_c { width: 100%; position: absolute; left: 0; text-align: center;  padding: 10px 0 10px; top: 0;  }
#main-panel .temp_c .value { position: relative; font-size: 70px; line-height: 70px;  text-align: center; font-weight: 100; color: #353535; }
#main-panel .temp_c .value:after { content: "o"; position: absolute; top: -20px; font-size: 24px; font-weight: bold; }
#main-panel .temp_c .label { margin: 0; }

#main-panel .feelslike_c { width: 100%; position: absolute; left: 0; text-align: center;  padding: 20px 0 10px; top: 0; display: none;  }
#main-panel .feelslike_c .value { position: relative; font-size: 86px; line-height: 86px;  text-align: center; font-weight: 100; color: #353535; }
#main-panel .feelslike_c .value:after { content: "o"; position: absolute; top: -20px; right: -15px; font-size: 24px; font-weight: bold; }
#main-panel .feelslike_c .label { margin: 0; }
#main-panel .sky { width: 100%;  left: 0;  margin: 20px 0 0; }
#main-panel .sky .image { width: 220px; height: 150px; margin: 0 auto; }
#main-panel .sky p { margin: 0; text-align: center; padding: 0 5px 5px; }
#main-panel .more-info { margin: 30px 0 0; display: none; }
#main-panel .more-info p { text-align: right; margin: 0 20px 10px 0; font-size: 0.9em; max-width: 60%; line-height: 1.3em; float: right; clear: both; }

#settings-panel { text-align: center; font-size: 12px; top: 110%; position: relative; }
#settings-panel .api { position: relative; top: 20%; }
#settings-panel .api .image { margin: 0; }
#settings-panel .api .image img { width: 50%; height: 50%; margin: 0 auto; }

#days-panel { position: absolute; left: 110%; }
#days-panel .top-panel { text-align: left; height: 17px; padding: 1px 0 0; text-indent: 20px; margin: 0 0 5px 0; }
#days-panel .temp_c_high { width: 25%; position: relative; text-align: center; float: left;}
#days-panel .temp_c_high .value { font-size: 40px; text-align: center; }
#days-panel .temp_c_high .value:after  { content: "o"; font-size: 20px; font-family: Arial, sans-serif; top: 5px; position: absolute; }
#days-panel .temp_c_high .label { margin: 0; }

#days-panel .temp_c_low { width: 25%; position: relative; text-align: center; float: left;}
#days-panel .temp_c_low .value { font-size: 50px; text-align: center; }
#days-panel .temp_c_low .value:after  { content: "o"; font-size: 20px; font-family: Arial, sans-serif; top: 5px; position: absolute; }
#days-panel .temp_c_low { margin: 0; display: none; }
#days-panel .temp_c_low .label { margin: 0; }

#days-panel article { padding: 0px 0 10px; }
#days-panel .more-info { float: left; width: 60%; margin-left: 20px;  overflow: scroll; }
#days-panel .more-info p { margin: 0 5px 3px 0; font-size: 0.7em;  }
#days-panel .top-panel { font-size: 14px; }

#second-location { position: absolute; }
#second-location form { text-align: center; }
#second-location form input[type='text'] { border: 1px solid #ababab; border-radius: 5px; text-indent: 5px;}

#second-location .loc2-temp { float: left; width: 40%; text-align: center; }
#second-location .loc2-temp .value { font-size: 48px; text-align: center; position: relative; padding: 20px 0 0; } 
#second-location .loc2-temp .value:after  { content: "o"; font-size: 20px; font-family: Arial, sans-serif;  top: 25px; position: absolute; }
#second-location .sky { width: 40%; float: right; margin: 0 20px 0 0; background-position: center center; }
#second-location .more-info { clear: both; width: 90%; text-align: right; padding: 10px 0 0; }
#second-location .label { margin: 0; }
#second-location .desc p { margin: 5px 0 0; text-align: center;  }

#second-location .second-loc-heading { font-size: 12px; text-align: center; margin: 5px 0 10px; }

.sky .sky-image { width: 100%; height: 128px; }

.sky .sky-6 { background: url(../img/tick/light_rain.png) no-repeat center center; }
.sky .sky-8 { background: url(../img/tick/sunny.png) no-repeat center center; }
.sky .sky-12 { background: url(../img/tick/light_rain.png) no-repeat center center; }
.sky .sky-23 { background: url(../img/tick/cloudy1.png) no-repeat center center; }
.sky .sky-17 { background: url(../img/tick/cloudy2.png) no-repeat center center; }
.sky .sky-14 { background: url(../img/tick/cloudy4.png) no-repeat center center;  }
